@model ProjetoClientes.Models.Clientes


@{
    ViewData["Title"] = "Novo Cliente";
}

<h2>Inserir Novo Cliente</h2>

<form asp-action="NovoCliente" method="post">

    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Endereco" class="control-label"></label>
        <input asp-for="Endereco" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CPF" class="control-label"></label>
        <input asp-for="CPF" class="form-control" />
    </div>

    <input type="submit" value="salvar" class="btn btn-dark" />
</form>

<a asp-action="Index" class="btn ">Voltar</a>

